
.cell {
  border: solid 0.15px rgb(37, 35, 35);
}

main {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.controls {
  display: flex;
  margin: 20px;
  gap: 10px;
}
#grid-container {
  width: 400px;
  height: 400px;
  display: grid;
  border: solid 0.2px rgb(37, 35, 35);
}

#startbtn,
#resetbtn,
#rainbowbtn {    
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0 12px;
  line-height: 15px;
  height: 25px;
  max-height: 25px;
  background: black;
  border: 0;
  border-radius: 0;
  color: #FFFFFF;
 }

 #rainbowbtn {
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
 }

    
 #rainbowbtn:hover {
  animation:slidebg 6s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}